

.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.center-left {
  position:          relative;
  top:               50%;
  transform:         translateY(50%);
}
.center-right {
  position:          relative;
  top:               50%;
  transform:         translateY(50%);
}



.small {
  font-size: small;
}


.tiny {
  font-size: x-small;
}

.xsmall{
	font-size: x-small;
}


.xxsmall{
	font-size: xx-small;
}


.footnote2 {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 50%;
}


.xlarge {
  font-size: x-large;
}


.xxlarge {
  font-size: xx-large;
}


.xxxlarge {
  font-size: 300%;
}


.large { font-size: 130% }
.small { font-size: 70% }
.times10 { font-size: 1000% }
.times5 { font-size: 500% }
.time2 { font-size: 200% }


.outro-slide {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/39/Naruto_Shiki_Fujin.svg);
  background-size:500px 300px;
   background-position: left;
}
